/*
stylus -w main.styl -o ../css/.  
*/
body {
  background-color: #808080;
  font-size: 14px;
}
.playerOuter {
  background-color: #000;
  padding: 2em 0;
}
#player {
  display: block;
  width: 900px;
  height: 550px;
  margin: auto;
}
